.list-group-item-dark {
    color: white !important;
    background-color: #212529 !important;

    &:hover {
        background-color: #6c757d !important;
    }
}

.no-bottom-border {
    border-bottom: none !important;
}
